*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');
@font-face {
    font-family: jost;
    src: url(./font/gotham_light.otf)format('otf')}
@font-face{font-family:'Product Sans';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVGdeOcEg.woff2)format('woff2')}
@font-face{font-family:'san-bo';font-style:normal;font-weight:400;src:url("https://fontsfree.net//wp-content/fonts/basic/sans-serif/FontsFree-Net-ProductSans-Bold.ttf")format('ttf');
}
@font-face {
    font-family: jost;
    src: url(./font/jost-variable.ttf);
}
:root {
    --nav-height: 50px; 
    --header-height:50px;
    /* FONT FAMILY */
    --bebas:"bebas neue";
    --bree:"bree serif";
    --madurai:'Hind Madurai', sans-serif;
    --gotham:"Gotham Light";
    --product: "Product Sans";
    --jost: "jost";
  }


body{
    font-family: jost;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-family:Product Sans ;
}

button{
    height:auto;
    padding: 10px;
    background: rgb(19, 145, 248);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: Product Sans;
    text-align: center;
    font-size: 16px;
}
.header{
    height: var(--header-height);
    display: flex;
    width: 100%;
    background-color: #fff;
    /*filter: drop-shadow(30px 10px 4px #4444dd);*/
    transition: .5s;
    position: fixed;
    margin-top: 0px;
    padding-bottom: 20px;
    z-index: 5;
}
.logo{
    cursor: pointer;
}
.cont{
    display: grid;
    position: relative;
    overflow-x: hidden;
    font-family: ;
}
.landing-vdo{
    filter: saturate(1);
    filter: hue-rotate(100deg);
    width: 100%;
    position: inherit;
    top: 50px;
    margin-bottom: 10%;
}
.header:hover{
    /*box-shadow: 0px .5px #666666, -1em 0 .4em transparent;*/
    box-shadow: 0px 4px 10px 1px rgb(187, 187, 187);
}

.img-100w{
    width: 100%;
    transition: .1s;
}
.heading{
    font-size: 40px;
    color: #aa1bfd;
    cursor: pointer;
    text-align: center;
    margin-top: 10%;
    font-family: var(--bebas);
}
.para{
    font-family: Product Sans;
    cursor: pointer;
    font-size: 14px;
    color: #444444;
    word-spacing: 3px;
}
.know-more{
    color: blue;
    font-family: var(--product-sans);
    cursor: pointer;
    font-weight: 700;
}
.type-con img{
    filter: hue-rotate(150deg);
    transition: .5s;
}
.type-con img:hover{
    transition: .5s;
    filter:hue-rotate(80deg) drop-shadow(10px 5px 8px #2b2b2b); 
  }

@media screen and (min-width: 850px) {
.header .nav{
    display: inline-flex;
    list-style: none;
    right: 0px;
    position: inherit;
    padding-right:15px ;
    padding-top: 20px; 
}
.header .logo{
    margin-top: 15px;
    margin-left: 15px;
    z-index: 6;
    background: #fff;
}
.nav li{
    display: flex;
    margin-left: 30px;
    font-size: 19px;
    cursor: pointer;
    font-family: 'Hind Madurai', sans-serif;
    color: #444444;
}
.nav li:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid grey;
}
#menu-btn{
    display: none;
}
.devider-mob{
    display: none;
}
.line-1{
    width: 100%;
    height: 1px;
    position: inherit;
    background: linear-gradient(86deg, #ffffff 4%, #0e76bc 48%, #ffffff 94%);
    text-align: center;
}
.lfo-con{
    height: auto;
    width: 100%;
    display: flex;
    position: inherit;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#lfo{
    display: inline-flex; 
    margin-right: 40px;
    font-size: 20px;
    font-family: var(--madurai);
  } 

  #lfo p span{
    font-weight: 700px;
    padding-left: 15px;
    font-family: var(--product);
  }

.type-con{
    align-items: center;
    display: flex;
    text-align: center;
    padding: 3%;
  }

.type-con .para{
    font-family: var(--product);
    text-align: left;
    line-break: auto;
    font-size: 16px;
  } 

}

/* MOBILE VIEW */

@media screen and (max-width: 849px) {
.header{
    height: 40px;
}
.header .logo{
    margin-top: 5px;
    margin-left:5px;
    transition: .1s;
}
.menu-button {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease;
}

.menu-open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
    display: none;
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    display: none;
}

.menu.show {
    display: flex;
}

.nav{
    display: none;
    list-style: none;
    flex-direction: column;
    position: inherit;
    right: 0px;
    align-items: left;
    width: 100%;
    top: 70px;
}

.nav.show{
    display: flex;
    list-style: none;
    flex-direction: column;
    position: inherit;
    right: 0px;
    align-items: left;
    width: 100%;
    height: 100%;
    top: 50px;
    background: #fff;
    animation: forwards;
    transition: 5s ease;
}
.nav li{
    padding: 20px;
    font-size: 20px;
    font-family: 'Hind Madurai', sans-serif;
    margin-top: 10px;
    border-radius: 6px;
    justify-content: center;
    box-shadow: 0px 4px 10px 1px #bbbbbb;
    cursor: pointer;
    transition: .2s;
}
.nav li:hover{
    font-size: 23px;
    box-shadow: 0px 4px 10px 1px #7e7e7e;
}
#menu-btn{
    display: flex;
    position: inherit;
    right: 5px;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.cont{
    display: grid;
    place-items: center;
    align-content: center;
}
.devider-mob{
    height: 1px;
    width: 80%;
    background: grey;
    border-bottom: 1px grey solid;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
}
.lfo-con{
padding: 30px;
}
#lfo{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 5%;
    padding-bottom:10px;
    font-family: var(--madurai);
    border-bottom: 1px grey solid;
}
#lfo p{
    display: flex;
    flex-direction: column;
}
#lfo p span{
    font-weight: 700;
    font-size: 40px;
    color: rgb(14, 139, 197);
}
.type-con{
    opacity: 0;
    text-align: center;
    margin-top: 10%;
    transition: all 1s;
    filter:blur(3px);
    transform: translateX(50%)
    
}
.show{
transition: .5s;
opacity: 1;
filter: blur(0px);
transform: translateX(0%)
}
}

